{block content}
<div class="row">
	<h1 n:block=title>Úprava mých údajů</h1>
</div>
<div class="row">
    {control editAccountForm}
</div>
<div class="row">
    <a n:href="deleteUser!" class="btn btn-danger">Smazat profitl</a> <br />
    Pozor, při smazání profilu jsou provedené změny nevratné.
</div>